<header>
  <img class="logo" alt="[insert logo here]"/>
  <nav class="navigation-bar">
    <ul class="navigation-links">
      <li [ngClass]="{'active' : active === 0}">
        <a href="#" (click)="onClickLink(0)">Play</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./top-charts">Top Charts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./my-progress">My progress</a>
      </li>
      <li [ngClass]="{'active' : active === 3}">
        <a href="#" (click)="onClickLink(3)">Manage users</a>
      </li>
    </ul>
  </nav>
  <div class="user-login" *ngIf="!isAuthenticated">
    <button class="login-button" routerLink="auth">Login</button>
  </div>
  <div class="user-login" *ngIf="isAuthenticated">
    <button class="login-button">Logout</button>
  </div>
</header>
