<header>
  <img class="logo" alt="[insert logo here]"/>
  <nav class="navigation-bar">
    <ul class="navigation-links">
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="./game">Play</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="./top-charts">Top Charts</a>
      </li>
      <li routerLinkActive="active" *ngIf="isAuthenticated">
        <a routerLink="./my-progress">My progress</a>
      </li>
    </ul>
  </nav>
  <div class="user-login" *ngIf="!isAuthenticated">
    <button class="login-button" routerLink="auth">Login</button>
  </div>
  <div class="user-login" *ngIf="isAuthenticated">
    <button class="login-button" (click)="onLogout()">Logout</button>
  </div>
</header>
