<div class="auth-div">
  <h1>Password Recovery</h1>
  <div>
    <label for="emailRecovery"><b>Email:</b></label>
    <input name="emailRecovery" id="emailRecovery" type="text" placeholder="Enter Email" ngModel required
           #email="ngModel" [disabled]="recoveryPhase > 0"/>
    <button class="auth-button" [hidden]="recoveryPhase > 0" (click)="onSubmitRecovery()">
      Send verification token
    </button>
    <span class="info" [hidden]="recoveryPhase!==1">
      En email with verification token was sent to {{email}}.
    </span><br/><br/>
    <div [hidden]="recoveryPhase < 1">
      <label for="token"><b>Verification Token:</b></label>
      <input name="token" id="token" type="text" placeholder="Enter Verification Token" ngModel required
             #token="ngModel" [disabled]="recoveryPhase > 1"/>
    </div>
    <button class="auth-button" [hidden]="recoveryPhase !== 1" (click)="onSubmitRecovery()">
      Verify
    </button>
  </div>
  <div id="newPasswordDiv" [hidden]="recoveryPhase < 2">
    <label for="newPassword1"><b>New Password:</b></label>
    <input name="newPassword1" id="newPassword1" type="password" placeholder="Enter new Password" ngModel required
           #password="ngModel" [disabled]="recoveryPhase > 2"/>
    <label for="newPassword2"><b>Retype Password:</b></label>
    <input name="newPassword2" id="newPassword2" type="password" placeholder="Retype Password" ngModel required
           #passwordRetype="ngModel" [disabled]="recoveryPhase > 2"/>
    <button class="auth-button" (click)="onSubmitRecovery()">Change Password</button>
  </div>
  <div class="bottom-divs">
    <div class="left-bottom-div">
      <button class="bottom-button" routerLink="../" [hidden]="recoveryPhase > 0 && recoveryPhase < 3">
        Back
      </button>
    </div>
  </div>
</div>
