<div class="main-div">
  <div class="canvas-div" *ngIf="!debugModeOn">
    <canvas id="canvas-id">

    </canvas>
  </div>
  <div class="canvas-div" *ngIf="debugModeOn">
    <textarea [(ngModel)]="debugString"></textarea>
  </div>
  <div class="task-div">

    <select id="task-type" [(ngModel)]="selectedTaskId">
      <option value="all">every subject</option>
      <option *ngFor="let task of tasks" value="{{task.value}}">{{task.label}}</option>
    </select>
    <br/>
    <br/>

    <div class="description-div">
      <h2>{{currentTaskSubject}}</h2>
      <h2 *ngIf="gotResponseToAnswer && answerIsCorrect" class="answer-correct">Correct!</h2>
      <h2 *ngIf="gotResponseToAnswer && !answerIsCorrect" class="answer-wrong">Wrong!</h2>
      <ng-katex-paragraph [paragraph]="currentTaskDescription"></ng-katex-paragraph>
    </div>
    <div></div>

    <button class="submit-button"
            *ngIf="!gotResponseToAnswer && this.task.type != 'BOOLEAN'"
            (click)="onSubmit()"
    >SUBMIT
    </button>

    <div *ngIf="this.task.type == 'BOOLEAN' && !gotResponseToAnswer" class="yes-no-div">
      <button class="yes-no-button" (click)="onSubmitBoolean(true)">YES</button>
      <button class="yes-no-button" (click)="onSubmitBoolean(false)">NO</button>
    </div>

    <button class="submit-button" *ngIf="gotResponseToAnswer" (click)="onNewTask()">NEW TASK</button>
  </div>
</div>

