<div class="top-users-div">
  <h1>Top users of {{selectedTimePeriod}} in {{getTaskNameById(selectedTaskSubject)}}</h1>

  <div id="input-div">
    <div class="top-users-input">
      <label for="time-period">Select time period</label>
      <select id="time-period" (change)="onChangeOption()" [(ngModel)]="selectedTimePeriod">
        <option value="all time">all time</option>
        <option value="today">today</option>
      </select>
    </div>

    <div class="top-users-input">
      <label for="task-type">Select task subject</label>
      <select id="task-type" (change)="onChangeOption()" [(ngModel)]="selectedTaskSubject">
        <option value="all">every task</option>
        <option *ngFor="let task of tasks" value="{{task.value}}">{{task.label}}</option>
      </select>
    </div>
  </div>
  <table class="top-users-table">
    <tr>
      <th>Place</th>
      <th>User</th>
      <th>Correct answers</th>
      <th>Wrong answers</th>
    </tr>
    <tr *ngFor="let topUser of topUsers">
      <td>{{topUser.place}}</td>
      <td>{{topUser.username}}</td>
      <td>{{topUser.correctTotal}}</td>
      <td>{{topUser.wrongTotal}}</td>
    </tr>
  </table>
  <div class="pagination-div">
    <button
      class="pagination-button"
      (click)="onPrevPage()"
      [ngClass]="{'pagination-button-disabled':page == 1, 'pagination-button': page > 1}"
    ><<</button>
    Page: {{page}}
    <button class="pagination-button" (click)="onNextPage()">>></button>
  </div>
</div>
