<div class="info-div">

  <p class="warning-message">
    WARNING: Keep in mind that this is basically the first working version of the game, so some bugs might occur, your data might be lost and much more tasks will be added further in the development process.
  </p>

  <h1>Welcome to graphgame!</h1>

  <p id="intro">
    Here you will find various tasks related to graph algorithms, that will help you learn for your upcoming exams.
    <br/>
    Note: Currently there is no email verification, so you can actually enter anything when trying to register.
    <br/><br/>
    We kindly ask you to give us a feedback through the following survey (in polish only):
    <a href="https://forms.gle/F3uPZT2KXZUcAbg58">click here</a>
  </p>

  <h2>Controls</h2>

  <h3>Overall:</h3>

  <p>
    While holding the right mouse button on a vertex, you can move it freely across the board.
  </p>

  <h3>Drawing a graph: </h3>

  <p>
    Left click on empty space to add a vertex. Left click on a vertex to remove it. Left click and hold
    on a vertex in order to start drawing an edge. In order to finish drawing an edge, drag the mouse cursor
    to another vertex, and then release the left button.
  </p>

  <h3>Selecting vertices in order: </h3>
    Left click on a vertex to select it. Left click on the last selected vertex to unselect it.
    The numbers inside the vertices represent the order in which computer generates those vertices (given many candidate vertex, please choose one with the lowest id).
    We assume that any algorithm always starts at the vertex 0.
  <p>

  </p>

  <br/>

</div>
